* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #121222;
}

.navigation {
    width: 100%;
    height: 10vh;
    background-color: #0D0D1A;
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left {
    width: 30%;
    color: white;
}

.nav_right {
    width: 70%;
    color: white;
    gap: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav_right a {
    all: unset;
}

.nav_right a:hover,
.social-media span:hover {
    color: #E63E50;
    cursor: pointer;
}

.main_content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 300px;
}

.main_content img {
    width: 35px;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(33%) sepia(39%) saturate(5838%) hue-rotate(337deg) brightness(119%) contrast(101%);
}

.social-media {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social-media span {
    display: flex;
    align-items: center;
    gap: 8px; 
    color: white;
    font-size: 15px; 
}

.social-media a {
    all: unset;
}

.intro-title {
    color: white;
    font-size: 50px;
}

.about_me {
    color: #A0A0A0;
}

.services,
.skills,
.projects,
.contact{
    width: 70%;
    margin: auto;
}

.services-title,
.skills-title,
.projects-title,
.contact-title {
    color: #FF3E50;
    font-size: 30px;
}

.services-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.service {
    background-color: #1A1A2E;
    height: 350px;
    padding: 20px;
}

.service h4{
    color: white;
    margin-top: 75px;
}

.service p {
    color: white;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.project {
    background-color: #1A1A2E;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.project h4{
    color: white;
    margin-top: 75px;
}

.project p {
    color: white;
}

.project a {
    margin-top: auto;
    padding: 10px 40px;
    background-color: #FF3E50;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.project a:hover {
    background-color: #bc4954;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact form input {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.contact form textarea {
    width: 400px;
    height: 100px;
    border-radius: 20px;
    border: none;
}

.contact form button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #FF3E50;
    color: white
}

.contact form button:hover {
    background-color: #bc4954;
    color: white;
    cursor: pointer;
}

.contact h1 {
    color: white;
}

/* Small phones */
@media only screen and (max-width: 600px) {
    .main_content {
        width: 95%;
    }

    .nav_right {
        display: none;
    }

    .nav_left {
        width: 60%;
    }

    .intro-title {
        font-size: 40px;
    }
}

/* Small devices (tablets and large phones) */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .main_content {
        width: 95%;
    }

    .nav_right {
        display: none;
    }

    .nav_left {
        width: 60%;
    }

    .intro-title {
        font-size: 40px;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main_content {
        width: 95%;
    }

    .intro-title {
        font-size: 40px;
    }
}